:root {
    --md-primary-fg-color:        #000028;
    --md-primary-fg-color--light: #23395d;
    --md-primary-fg-color--dark:  #00001f;
  }

  .center {
    display: block;
    margin: 0 auto;
    max-width: "600";
}



body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.landing-page {
  position: relative;
  top: 0%;
  width: 100%;
  height: 100vf;
  background: url('../assets/path.png') no-repeat center center fixed;
  background-size: cover;
  z-index: 1;
}

.landing-content {
  position: fixed;
  top: 13.5%;
  left: 0%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
  height:200%
  color: white;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
  transition: top 0.5s ease-in-out, transform 0.5s ease-in-out;
}


.landing-content.bottom {
  top: calc(100vh - 10vh); /* Adjust this value based on the height of the content */
  transform: translate(-100%, -100%);
}

.landing-content h1 {
  margin: 0;
  font-size: 3em;
  color: white;
  line-height:1.5em;
}

.landing-content p {
  font-size: 2em;
  color: white;
  line-height:2em;
}

.nav-bar {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #000028;
  color: white;
  padding: 5% 5%; /* Adjust padding to your preference */
  z-index: 3; /* Ensure nav bar is on top of the landing page content */
  display: flex;
  align-items: center; /* Vertically center items */
}

.navbar-header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 0%;
  padding-top: 5%;
  padding-left: 5%;
}

.navbar-header img {
  height: 25px;
  max-height: 30px;
  object-fit: contain; 
  padding-right: 30px;
}

.navbar-header .name {
    color: white;
    font-size: 18px;
    margin-top: 5%;
    font: Roboto;
}


.nav-bar .nav-links {
  display: flex;
  gap: 26px; /* Space between links */
  padding-left: 5%; /* Increase space on the left */
  padding-bottom: 0%;
  font: Roboto;
}

.nav-bar .nav-links a {
  color: white; /* Default link color */
  text-decoration: none;
  font-size: 0.85em;
  margin: 101 20px; /* Add margin between links */
  border: 1px solid transparent;
  opacity: 0.7; /* Slightly transparent by default */
  background-color: transparent;
}

.nav-bar .nav-links a:active {
  opacity: 1; /* Fully opaque for the active link */
  /* color: white; Active link */
  background-color: white; /* Solid white background color for the active link */
  color: #333; /* Dark text color for better contrast */
}


.nav-bar .nav-links a:hover {
  text-decoration: underline;
}


.content {
  padding: 60px 20px; /* Adjust this value for the desired padding */
  z-index: 3;
  position: relative;
  background: white;
  min-height: 100vh;
  margin-top: 50px; /* Space for fixed nav bar */
}

/* Media Queries */

@media (min-width:320px)  { /* Vertical Screen Phones */ 
    
}

@media (min-width:480px)  { /* Horizontal/Landscape Screen Phones */ 
    
}

@media (min-width:600px)  { /* Tablets and Vertical iPads */
    
}

@media (min-width:801px)  { /* Tablet, Horizontal/Landscape iPads, low-resolution Laptops */
     
}

@media (min-width:1025px) { /* Big Tablets */
     
}

@media (max-width: 575.98px) {
  .HideOnMobile {
    display: none;
  }
  .ShowOnMobile {
    display: initial;
  }
}

@media (min-width: 576px) {
  .HideOnMobile {
    display: initial;
  }
  .ShowOnMobile {
    display: none;
  }
}
